.startSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: #16447a;
}

.h1Start {
  font-size: 1.6rem;
}

.userForm {
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInput {
  display: block;
  margin-bottom: 5%;
  margin-top: 10%;
  border-radius: 5px;
  padding: 3%;
}

.playBtn {
  background-color: #0b294e;
  font-size: 1rem;
  border-radius: 5px;
  width: 85px;
  height: 60px;
}

.galleryBtn {
  background-color: #0b294e;
  font-size: 1rem;
  border-radius: 5px;
  width: 85px;
  height: 60px;
  margin-top: -10%;
}
