.parent {
  display: grid;

  grid-template-columns: repeat(15, 1fr);

  grid-template-rows: repeat(15, 1fr);

  grid-column-gap: 0px;

  grid-row-gap: 0px;

  border: 2px solid black;

  height: 500px;
  width: 500px;
}

.gridBox {
  border: 1px solid rgb(114, 114, 114);
}

.pageWrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    background-color: #16447a;
}

.leftSideWrapper {
    background-color: #5D7CEA;
    width: 25%;
    height: 100%;
}

.gameInfo {
    height: 35vh;
    border-bottom: #16447a 2px solid;
    margin-left: 4%;
    margin-right: 4%;
}

.chatSection {
    height: 60vh;
}

.gameboardWrapper {
    height: 100vh;
    width: 55vw;
}

.resultboardWrapper {
    height: 100vh;
    width: 20vw;
    background-color: #5D7CEA;
}
