#Wrapper {
  display: flex;
  justify-content: space-between;
}

.parent {
  display: grid;
  display: none;

  grid-template-columns: repeat(15, 1fr);

  grid-template-rows: repeat(15, 1fr);

  grid-column-gap: 0px;

  grid-row-gap: 0px;

  border: 2px solid black;

  height: 500px;
  width: 500px;
  margin: auto;
}

.gridBox {
  border: 1px solid rgb(114, 114, 114);
}

.pageWrapper {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  background-color: #16447a;
}

#chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #5d7cea;
  width: 25%;
  height: 100vh;

  div:nth-child(1)::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: black;
    margin: auto;
  }
  div:nth-child(1) {
    h2 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }
    ul {
      list-style-type: none;
      padding-left: 10px;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;

    ul {
      padding-left: 10px;
      list-style-type: none;

      li {
        padding: 10px;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      input {
        display: flex;
        flex-grow: 1;
        padding: 5px;
        max-height: 30px;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 12px;
      }

      #submit {
        background-color: #0b294e;
        padding: 2px;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 2px;
      }
    }
  }
}

// .gameInfo {
//   height: 35vh;
//   border-bottom: #16447a 2px solid;
//   margin-left: 4%;
//   margin-right: 4%;
// }

#resultboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #5d7cea;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  height: 50vh;
  width: 40vw;
  margin: auto;

  .resultBtn {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #16447a;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.leftWrapper {
  height: 100vh;
  width: 20vw;
  background-color: #5d7cea;

  div:nth-child(1) {
    height: 25%;
    width: 100%;
    background-color: rgb(34, 88, 134);
  }
  div:nth-child(2) {
    text-align: center;
    margin-top: 10px;
  }
}
